<h1>Computer Vision Proof of Concept</h1>
<div *ngIf="isLoading" id="loading-div">
  <h4>Loading... </h4>
  <div class="spinner-grow text-light" role="status">
  </div>
</div>
<video id="video" autoplay playsinline muted></video>
<canvas id="canvas"></canvas>
<canvas id="output" [hidden]="isLoading"></canvas>
<ng-container *ngIf="!isLoading">
  <label>Opacity</label>
  <input type="range" id="opacity-slider" min="0" max="255" [(ngModel)]="opacity"
    (change)="handleOpacityChange($event)" />
</ng-container>
<section>
  <section>
    <p>You must have a camera connected to your device for this app to work.</p>
    <p>
      This is a app was built with tenserflow's JavaScript library, it runs completely in the browser.
    <p>
      It was built very quickly in about a day, and is not fine tuned at all.
    </p>
    <p>Thank You, for trying it out</p>
  </section>
