:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  // background-image: url('./crown.1024.995.svg');
}

video,
canvas {
  display: none;
  width: 80%;
  max-width: 600px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output {
  display: block;
  width: 80%;
  max-width: 600px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transform: scaleX(-1);
}

h1,
h3 {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

section {
  background-color: #020202;
  padding: 10px;
  max-width: 600px;
  letter-spacing: 1.3px;
  line-height: 1.5;

}

p {
  font-family: 'Roboto', sans-serif;
  white-space-trim: pre-wrap;
  white-space: pre-line;
  ;

}
